<h2><%= title %></h2>
<span><%= date %></h2>
<p><%= body %></p>

<span class="source_name"><%= source_name %></span>
<span class="source_url"><%= source_url %></span>

<% if comments %>
  <section class="comments">comments enabled</section>
<% end %>

<% unless local_path.nil? %>
  <section class="local_path"><%= local_path %></section>
<% end %>

<% unless local_path.nil? %>
  <section class="history_url"><%= history_url %></section>
<% end %>
