<h1>index</h1>
<ul id="articles">
  <% for article in articles[0...3] %>
    <li class="article"><%= article %></li>
  <% end %>
</ul>
<!-- testing env variable passing -->
<p>env passed: <%= env != nil %><br/></p>
<!-- testing get/post parameter passing -->
<p>request method type: <%= env['REQUEST_METHOD'] %><br/></p>
<p>request name value pair: <%= env['QUERY_STRING'] %><br/></p>
